<div class="container">
  <div class="converter-elements">
    <div class="flex-grid">
      <div class="col">
        <mat-form-field>
          <mat-label for="fromCurrencyCode">From</mat-label>
          <mat-select [(value)]="fromCurrency.code" id="fromCurrencyCode" name="fromCurrencyCode"
            (selectionChange)="selectsChanged('fromCurrency')" class="form-control">
            <mat-option *ngFor="let currency of currencies" [value]="currency.currency_code">
              <div class="option-icon">
                <img alt="country flag" src="{{ currency.country_flag }}" />
              </div>
              {{ currency.currency_code + " " + currency.currency_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="fromCurrency.value" type="number" placeholder="From Amount"
            (keyup)="fromValueChanged($event)" class="form-control mt-3" pattern="^[+-]?\d+(\.\d+)?$" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label for="toCurrencyCode">To</mat-label>
          <mat-select [(value)]="toCurrency.code" id="toCurrencyCode" name="toCurrencyCode"
            (selectionChange)="selectsChanged('toCurrency')" class="form-control">
            <mat-option *ngFor="let currency of currencies" [value]="currency.currency_code">
              <div class="option-icon">
                <img alt="country flag" src="{{ currency.country_flag }}" />
              </div>
              {{ currency.currency_code + " " + currency.currency_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="toCurrency.value" type="number" placeholder="To amount"
            (keyup)="toValueChanged($event)" class="form-control mt-3" pattern="^[+-]?\d+(\.\d+)?$" />
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <h4 class="mat-body-1 caption">Current Rate</h4>
      <p class="mat-h2 text-center">1 {{fromCurrency.code}} = {{fromCurrency.rate.toFixed(2) + " " + toCurrency.code}}</p>
    </div>
  </div>
  <app-graph [historicalRates]="historicalRates"></app-graph>
  <h3 class="mat-subheading-1 muted-heading text-center">All figures are live mid-market rates as published by European Central Bank.</h3>
</div>
