
/*
* TYPOGRAPHY
*/

.caption {
  color: rgb(55, 70, 154);
}

.muted-heading {
  margin-top: 20px;
  color: rgba(0,0,0,.54);
}


/* REMOVING THE STEPPERS FROM INPUT */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*
* CURRENCY SELECT OPTION ICON CSS
*/
.xxl-input {
  font-size: x-large;
}

.option-icon {
  width: 30px;
  height: 30px;
  display: inline-flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  margin-right: 5px;
}

.option-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

@media (min-width: 992px) {
  .xxl-input {
    font-size: x-large;
  }
  .option-icon {
    width: 40px;
    height: 40px;
  }
}


/*
* RESPONSIVE CONTAINER CSS
*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flex-grid {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.col {
  margin: auto;
  width: calc(100% - 20px);
}
.col mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.converter-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .flex-grid {
    display: flex;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px auto;
  }
  .col {
    width: unset;
    flex-grow: 1;
  }

  .col mat-form-field {
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

mat-form-field {
  display: block;
}
