<div class="container">
    <h3 class="mat-subheading-1 muted-heading text-center">All figures are live mid-market rates as published by European Central Bank.</h3>
  <div class="converter-elements">
    <form>
    <div class="flex-grid">
      <div class="col">
        <mat-form-field>
          <mat-label for="fromCurrencyCode">From</mat-label>
          <mat-select [(value)]="fromCurrency.code" id="fromCurrencyCode" name="fromCurrencyCode"
            (selectionChange)="selectsChanged('fromCurrency')" class="form-control">
            <mat-select-trigger>
              <div class="option-icon">
                <img alt="country flag" src="{{ fromCurrency.metaData.countryFlag }}" />
              </div>
              {{ fromCurrency.code + " " + fromCurrency.metaData.currencyName }}
            </mat-select-trigger>
            <mat-option *ngFor="let currency of currencies" [value]="currency.currencyCode">
              <div class="option-icon">
                <img alt="country flag" src="{{ currency.countryFlag }}" />
              </div>
              {{ currency.currencyCode + " " + currency.currencyName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="fromCurrencyValue">
          <input matInput [formControl]="fromCurrency.value" type="number" placeholder="From Amount"
            (keyup)="fromValueChanged($event)" (wheel)="fromValueChanged($event)" class="xxl-input" min="0" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="toCurrency.value.invalid">
            Please enter the amount.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label for="toCurrencyCode">To</mat-label>
          <mat-select [(value)]="toCurrency.code" id="toCurrencyCode" name="toCurrencyCode"
            (selectionChange)="selectsChanged('toCurrency')" class="form-control">
            <mat-select-trigger>
              <div class="option-icon">
                <img alt="country flag" src="{{ toCurrency.metaData.countryFlag }}" />
              </div>
              {{ toCurrency.code + " " + toCurrency.metaData.currencyName }}
            </mat-select-trigger>
            <mat-option *ngFor="let currency of currencies" [value]="currency.currencyCode">
              <div class="option-icon">
                <img alt="country flag" src="{{ currency.countryFlag }}" />
              </div>
              {{ currency.currencyCode + " " + currency.currencyName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="toCurrencyValue">
          <input matInput [formControl]="toCurrency.value" type="number" placeholder="To Amount"
            (keyup)="toValueChanged($event)" (wheel)="toValueChanged($event)" class="xxl-input" [errorStateMatcher]="matcher" min="0"/>
          <mat-error *ngIf="toCurrency.value.invalid">
            Please enter a valid amount.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    </form>
    <div class="text-center">
        <h4 class="mat-body-1 caption" [ngClass]="{'mat-error': error, 'caption': !error}">{{ error ? "Error" : "Current Rate" }}</h4>
        <p class="mat-h2 text-center">
          <span *ngIf="error" class="mat-error">{{error}}</span>
          <span *ngIf="!error">1 {{fromCurrency.code}} = {{fromCurrency.rate.toFixed(2) + " " + toCurrency.code}}</span>
        </p>
    </div>
  </div>
  <app-graph [historicalRates]="historicalRates"></app-graph>
</div>
